$header-background: #ededed;
$search-form-background: #f6f6f6;
$border-color-grey: rgb(217, 217, 217);

$font-black: #000;
$font-grey: #8b8b8b;
$font-grey-light: #ababab;


$chat-list-item-background-hover: $header-background;
$dropdown-menu-item-background: $header-background;
$message-box-background-color: white;