@import "src/styles/colors";

.chat-header {
  max-width: 100%;
  max-height: 39px;
  background-color: $header-background;
  border-bottom: 1px solid $border-color-grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;

  .chat-header__leading {
    height: 40px;
  }

  .chat-header__actions {
    height: 40px;

    .icon-button {
      margin-right: 5px;
      color: $font-grey-light;
    }
  }
}
