.dropdown-menu {
  position: relative;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  z-index: 3;
  width: 140px;
  animation: fadeInWithMove .15s ease-out;

  .dropdown-menu__list {
    list-style: none;
    padding: 5px 0;
  }
}

@keyframes fadeInWithMove {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
    transform: scale(0.9, 0.8) translate(10%, -20%);
  }

  100% {
    display: block;
    opacity: 1;
    transform: scale(1, 1) translate(0, 0);
  }
}