.app {
  position: relative;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  min-height: 600px;
  background-color: #dddbd1;

  .app__body {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    min-height: 500px;
    min-width: 700px;
  }

  .icon-button {
    height: 40px;
    width: 40px;
  }
}

.app::before {
  height: 129px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
  content: "";
  background-color: #009688;
}

@media only screen and (max-width: 1440.93px) {
  .app__body {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (min-width: 1441px) {
  .app__body {
    height: calc(100% - 38px);
    width: 1396px;
  }
}

.logout-btn {
  position: absolute;
  top: 0;
  right: 0;
}
