.search-field {
  height: 36px;
  width: 94%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;

  .search-field__icon-field {
    height: 36px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;

    .search-field__icon {
      width: 18px !important;
      height: 18px !important;
      cursor: pointer;
      color: #b8b8b8;
    }
  }

  .search-field__input {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    height: 20px;
    width: calc(100% - 44px);
    margin: 0 32px 0 30px;
    background-color: white;
    border: none !important;
    outline: none;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .search-field__input::-webkit-input-placeholder {
    color: #AFB2B3;
  }

  .search-field__input::-moz-placeholder {
    color: #AFB2B3;
  }

  .search-field__input::-ms-input-placeholder {
    color: #AFB2B3;
  }

  .search-field__input::-webkit-scrollbar {
    display: none;
  }

}
